#####################################
# File: _.snippets
# Description: Global snippets
# Author: Kevin
# Source: https://github.com/kevinm6/nvim/blob/nvim/snippets/_.snippets
# Last Modified: 14/01/22 - 10:19
#####################################


# Information snippet
snippet inf
	-----------------------------------
	 File: ${0:title}
	 Description:  
	 Author: Kevin
	 Source: https://github.com/kevinm6/${3:link}
	 Last Modified: ${1:timestamp}
	 -----------------------------------


