#####################################
# File: snippets/markdown.snippets
# Description: Global snippets
# Author: Kevin
# Source: https://github.com/kevinm6/nvim/blob/nvim/snippets/markdown.snippets
# Last Modified: 14/01/22 - 10:23
#####################################


# Information snippet
snippet head
	# ${1:`vim_snippets#Filename("$1")`}
	
	---

	$0

